<nav class="navbar navbar-expand navbar-light bg-light">
    <span class="navbar-brand">Recipe Book</span>
    <div class="navbar-collapse collapse justify-content-between">
        <ul class="navbar-nav pt-1">
            <li class="nav-item">
                <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
            </li>
        </ul>
        <ul class="navbar-nav pt-1">
            <li class="nav-item">
                <button class="btn btn-sm" type="button" type="button" (click)="onSaveData()">Save data</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-sm" type="button" type="button" (click)="onFetchData()">Fetch data</button>
            </li>
        </ul>
    </div>
</nav>