<div class="row">
    <div class="col-sm-12">
        <form (ngSubmit)="onSubmit()"
              [formGroup]="form">
            <button class="btn btn-success"
                    style="margin-right: 5px;"
                    type="submit"
                    [disabled]="!form.valid">Save</button>
            <button class="btn btn-danger"
                    type="button"
                    (click)="onCancel()">Cancel</button>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text"
                               id="name"
                               class="form-control"
                               formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text"
                                  id="description"
                                  class="form-control"
                                  formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="image">Image URL</label>
                        <input type="text"
                               id="image"
                               class="form-control"
                               formControlName="image"
                               #imagePath>
                    </div>
                </div>
                <div class="col-sm-12">
                    <img [src]="imagePath.value" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"
                     formArrayName="ingredients">
                    <div class="row"
                         *ngFor="let ingredientCtrl of form.get('ingredients').controls; let i = index"
                         [formGroupName]="i"
                         style="margin-top: 10px;">
                        <div class="col-sm-8">
                            <input type="text"
                                   formControlName="name"
                                   class="form-control">
                        </div>
                        <div class="col-sm-2">
                            <input type="number"
                                   formControlName="amount"
                                   class="form-control">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-danger"
                                    type="button"
                                    (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button"
                            class="btn btn-success"
                            (click)="onAddIngredient()">Add ingredient</button>
                </div>
            </div>
        </form>
    </div>
</div>