<div class="row">
    <div class="col-sm-12">
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary btn-sm mr-1">To Shopping List</button>
            <button class="btn btn-success btn-sm mr-1">Edit Recipe</button>
            <button class="btn btn-danger btn-sm">Delete Recipe</button>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        Ingredients
    </div>
</div>